.header {
    display: flex;
    justify-content: center;

    padding-top: 26px;
    gap: 0.4rem;
}

.link {
    display: block;
    margin-top: 3.8rem;

}

.link h2 {
    font-family: var(--font-family-base);
    font-size: var(--font-size-title);
    color: var(--content-primary);

    padding-top: 1rem;
}

@media (max-width: 654px) {

    #app {
     display: block;
     flex-direction: column;
    }

}


@media (max-width: 391px) {

    #app {
        display: none;
    }


}

 